<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 template-section">
  <h5>Fuel Bill Generator</h5>
  <div id="fuel-template">
    <div class="newbodytem3" #screenshotDiv id="screenshotDiv">
        <div class="template-background">
            <img src="../assets/side-logo_bw.png" alt="Bank Logo" class="side-logo-1 billlogo">
            <img src="../assets/side-logo_bw.png" alt="Bank Logo" class="side-logo-2 billlogo">
            <div class="text-center">
                <img src="../assets/indian_oil_bw.png" alt="Logo" class="billlogo" id="selectedLogo3" />
                <p class="top mt-3">WELCOME!!!</p>
                <p class="top" style="margin: 10px;"></p>
                <p class="top">
                  <span class="fuel_station_name mt-2">{{ fuelStationName|uppercase}}</span> 
                  <span class="mx-1 fuel_station_address" style="margin: 10px;"> </span></p>
            </div>
            <div class="table1 mt-3 mb-3">
                <div class="row">
                    <p class="">RECEIPT NO: <span class="mx-1 invoice_no"> {{ receiptNumber }} </span></p>
                </div>
            </div>
            <div class="table2 mb-2">
                <div class="row">
                    <p>PRODUCT: <span class="mx-1 vehicle_type"> {{ product|uppercase }}</span></p>
                </div>
                <div class="row">
                    <p>RATE/LTR: <span class="fuel_rate"></span>₹ {{ fuelRate }}</p>
                </div>
                <div class="row">
                    <p>AMOUNT: <span class="fuel_total_amount"></span>₹ {{ fuelAmount }}</p>
                </div>
                <div class="row">
                    <p>VOLUME(LTR.): <span class="fuel_quantity"> {{ fuelQuantity }} </span>lt</p>
                </div>
            </div>
            <div class="table1 mb-3">
                <div class="row">
                    <p>VEH TYPE:<span class="mx-1 vehicle_type"> </span> {{ product|uppercase }}</p>
                </div>
                <div class="row">
                    <p>VEH NO: <span class="mx-1 vehicle_number"></span> {{ vehicleNumber }}</p>
                </div>
                <div class="row">
                    <p>CUSTOMER NAME:<span class="mx-1 customer_name"></span> {{ customerName}} </p>
                </div>
            </div>
            <div class="d-flex">
                <p>DATE: {{ date|uppercase }}</p>
                <p>TIME: {{ time }}</p>
            </div>
            <div class="row">
                <p>MODE:<span class="mx-1 payment_method"> </span> {{ mode|uppercase }}</p>
            </div>
            <p class="bottom">SAVE FUEL YAANI SAVE MONEY !! THANKS FOR FUELLING WITH US. YOU CAN
                NOW CALL
                US ON 1800 226344 (TOLL-FREE) FOR QUERIES/COMPLAINTS.</p>
        </div>
    </div>
  </div>
  <button (click)="captureScreen()">Capture Screenshot</button>
  <button (click)="generate()">Generator</button>
</div>